.grid-letter {
  border: black solid 1px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: white;
}

.grid-row {
  margin: 0;
  padding: 0;
}

.grid-frame {
  display: inline-block;
  border: black solid 3px;
  padding: 3px;
  background-color: gray;
}
